lc_resi_25march2019_waterupdate.tfw
lc_resi_25march2019_waterupdate.tif
lc_resi_25march2019_waterupdate.tif.aux.xml
lc_resi_25march2019_waterupdate.tif.ovr
lc_resi_25march2019_waterupdate.tif.vat.cpg
lc_resi_25march2019_waterupdate.tif.vat.dbf
